$baseFontSize:12px;

@import "mixin";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
	@include setFont($baseFontSize, 'Noto Sans KR');
}

ul, li{ list-style:none; }

*{
	margin:0;
	padding:0;
}

